<div class="container-fluid">
  <div class="card">
    <div class="card-header"> <h2>Create Task</h2></div>
      <div class="card-body col-md-12"> 
        <form #taskForm="ngForm" class="border border-bold p-5">
          <div class="row">
            <div class="form-group col-md-4">
              <label for ="Task_Name" class="control-label">Task</label>
              <input type="text" class="form-control" name="Task_Name" ngModel #taskDescription required> 
              <span class="help-block" *ngIf="taskDescription.pristine">Task is required</span>

              <!-- <input type="date" class="form-control" name="startdate" ngModel #startdate="ngModel"  required>
                <span class="help-block" *ngIf="startdate.pristine">Start Date is required</span> -->
            </div>
          </div>
          <div class="row">
              <div class="form-group col-md-4">
                <label>Priority</label>
                <input type="range" min="0" max="10" class="form-control" name="priority" id="taskpriority" ngModel
                oninput="rangeOp.value=taskpriority.value" #priority="ngModel">
                <output id="rangeOp"></output>
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-4">
                <label for ="ParentID">Parent Task</label>
                <select required class="form-control" name="parentId"  ngModel #parentId required>
                  <option value="">Select parent task</option>
                  <option value={{task.ParentId}} *ngFor= "let task of taskIds" >{{task.ParentId}}</option>
                </select>
                <span class="help-block" *ngIf="parentId.untouched">Parent ID is required</span>
              </div>
          </div>

          <div class="row">
              <div class="form-group col-md-4">
                <label>Start Date</label>
                <input type="date" class="form-control" name="startdate" ngModel #startdate="ngModel"  required>
                <span class="help-block" *ngIf="startdate.pristine">Start Date is required</span>
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-4">
                <label>End Date</label>
                <input type="date" class="form-control" name="enddate" ngModel #enddate="ngModel"  required>
                <span class="help-block" *ngIf="enddate.pristine">End Date is required</span>
              </div>
          </div>
    
          <button  class="btn btn-primary mx-1" [disabled]="taskForm.invalid" (click)="onSubmit(taskForm.value)">Submit</button>
          <button  routerLink = "/app-listtask" class="btn btn-primary" >Back</button>
        </form>
      </div>
  </div> 
</div>
