  <button class="btn btn-primary" routerLink="/app-add-task" routerLinkActive="active">Create Task</button>

  <div class="container">
        <form #taskForm="ngForm">
          <div class="row alert alert-success alert-dismissible">
              <div class="form-group col-md-2">
                  <label>Task Id</label>
                  <input type="number" class="form-control" placeholder="Search by TaskID" name="taskIDSearch" [(ngModel)]="taskIDSearch" />
              </div>
            <div class="form-group col-md-2">
              <label>Task Name</label>
              <input type="text" class="form-control"placeholder="Search by Task Name"  name="taskSearch" [(ngModel)]="taskSearch" />
            </div>
            <div class="form-group col-md-2">
              <label>Parent Task</label>
              <input type="number" class="form-control" placeholder="Search by Parent Task" name="parentSearch" [(ngModel)]="parentSearch" />
            </div>
            <div class="form-group col-md-2">
              <label>Priority</label>
              <input type="number" class="form-control" placeholder="Search by Priority" name="prioritySearch" [(ngModel)]="prioritySearch" />
            </div>
            <div class="form-group col-md-2">
              <label>Start Task</label>
              <input type="text" class="form-control" placeholder="Search by Start Task" name="startDateSearch" [(ngModel)]="startDateSearch" />
            </div>
            <div class="form-group col-md-2">
              <label>End Task</label>
              <input type="text" class="form-control" placeholder="Search by End Task" name="endDateSearch" [(ngModel)]="endDateSearch" />
            </div>
          </div>
        </form> 
      <table class="table table-bordered">
        <thead>
          <tr class="warning">
          <th>Task Id</th>
          <th>Task Name</th>
          <th>Parent Task</th>
          <th>Priority</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Action</th>
          <th></th>
          </tr>
        </thead>
        <tbody  *ngFor="let obj of taskLists | filter : taskIDSearch : taskSearch : parentSearch : prioritySearch : startDateSearch : endDateSearch">
          <tr class="danger">
          <td>{{obj.TaskId}}</td>
          <td>{{obj.Task_Name}}</td>
          <td>{{obj.ParentId}}</td>
          <td>{{obj.Priority}}</td>
          <td>{{obj.StartDate | date:"MM/dd/yyyy"}}</td>
          <td>{{obj.EndDate  | date:"MM/dd/yyyy"}}</td>
          <td>
            <button class="btn btn-primary mx-1" [disabled]="dateValidate(obj.EndDate)" (click)="onEndTask(obj)">EndTask</button> &nbsp;
            <button class="btn btn-primary mx-1" (click) = "onDelete(obj)">Delete</button> &nbsp;
            <button routerLink="/edittask" routerLinkActive="active" class="btn btn-primary" (click)="onSelect(obj)">Update</button> &nbsp;
          </td>
          </tr>
        </tbody>
      </table>
  </div>

