<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-header"> <h5><b>Edit Task</b></h5></div>
    <div class="card-body col-md-12"> 
      <form #taskForm="ngForm">
          <div class="row">
              <input type="hidden" name="TaskId" [(ngModel)]="task.TaskId">
         </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for ="Task_Name" class="control-label">Task</label>
              <input  type="text" class="form-control" name="Task_Name" [(ngModel)]="task.Task_Name"
              #taskDescription="ngModel" required> 
              <span class="help-block" *ngIf="taskDescription.invalid">Task is required</span>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4" [class.has-error]="taskDescription.invalid">
              <label for="Priority">Priority</label>
              <input required type="range" min="0" max="10"  list="rangeValues" id="taskpriority" class="form-control" name="Priority"  [(ngModel)]="task.Priority" 
              oninput="rangeOp.value=taskpriority.value" #priority="ngModel">
              <output id="rangeOp"></output>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4" [class.has-error]="taskDescription.invalid">
              <label for ="ParentID">Parent Task</label>
              <select required class="form-control" name="ParentId"  [(ngModel)]="task.ParentId" #parentId="ngModel">
                <option value="">Select parent task</option>
                <option value={{task.ParentId}} *ngFor= "let task of taskIds" >{{task.ParentId}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label>Start Date</label>
              <input type="date" class="form-control" name="StartDate"  [(ngModel)]="task.StartDate" #taskstartdate="ngModel">
              
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label>End Date</label>
              <input type="date" class="form-control" name="EndDate"  [(ngModel)]="task.EndDate" #taskenddate="ngModel">
              
            </div>
          </div>
          <button class="btn btn-primary mx-1" [disabled]="taskForm.invalid" (click)="onSubmit(taskForm.value)">Submit</button>
          <button routerLink = "/app-listtask" class="btn btn-primary" >Back</button>
        </form>
   </div>
  </div>
</div>
<!-- <br>
<div class="container-fluid">
  <div class="card">
    <div class="card-header"> <h5>Edit Task</h5></div>
    <div class="card-body col-md-12"> 
      <form>
          <div class="row">
              <input type="hidden" name="TaskId">
           </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for ="Task_Name" class="control-label">Task</label>
              <input  type="text" class="form-control" name="Task_Name"> 
              <!-- <input type="date" class="form-control" name="StartDate"  [(ngModel)]="task.StartDate" #taskstartdate="ngModel"> 
              <span class="help-block" *ngIf="taskDescription.invalid">Task is required</span>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="Priority">Priority</label>
              <input required type="range" min="0" max="10"  list="rangeValues" id="taskpriority" class="form-control" name="Priority" oninput="rangeOp.value=taskpriority.value">
              <output id="rangeOp"></output>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for ="ParentID">Parent Task</label>
              <select required class="form-control" name="ParentId">
                <option value="">Select parent task</option>
                <option value={{task.ParentId}} *ngFor= "let task of taskIds" >{{task.ParentId}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label>Start Date</label>
              <input type="date" class="form-control" name="StartDate">
              
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label>End Date</label>
              <input type="date" class="form-control" name="EndDate">
             </div>
          </div>
          <button class="btn btn-primary mx-1" [disabled]="taskForm.invalid" (click)="onSubmit(taskForm.value)">Submit</button>
          <button routerLink = "/app-listtask" class="btn btn-primary" >Back</button>
        </form>
   </div>
  </div>
</div> -->

